.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 40px;
}

.contain-status {
  background-color: #ffffff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 500px;
}

/* จุดกลม ๆ บนเส้น */
.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #ff6600;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 25px;
}

/* เส้นตรงกลาง */
.timeline-container::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #ff6600;
}

.timeline-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.timeline-content p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #444;
}
