/* .btn-show-image {
  background-color: #ffffff !important;
  border-color: #213F66 !important;
  color: #213F66 !important;
  width: 150px !important;
  height: 50px !important;
  border-radius: 10px;

} */